        * {
            margin: 0;
            padding: 0;
        }

        

        .tx{
            font-size: 27px;
        }


        #textreport{
            width:100%;
            height:100px;
            font-size:14pt;
        }

        body {
            background: #e9eaea;
            font-family: roboto;
            user-select: none;
        }

        .container {
            width: 450px;
            margin: 30px auto;
        }

        .signup,
        .login {
            width: 50%;
            background: #fff;
            float: left;
            height: 60px;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
        }

        .signup-form,
        .login-form {
            background: #fff;
            padding: 40px;
            clear: both;
            width: 100%;
            box-sizing: border-box;
            height: 400px;
        }

        .input {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            margin-bottom: 25px;
            border: 2px solid #e9eaea;
            color: #3e3e40;
            font-size: 14px;
            outline: none;
            transform: all 0.5s ease;
        }

        .input:focus {
            border: 2px solid #28322C;
        }

        .btn {
            width: 100%;
            background: #28322C;
            height: 60px;
            text-align: center;
            line-height: 60px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            cursor: pointer;
            margin-bottom: 30px;
        }

        span a {
            text-decoration: none;
            color: #000;
        }